ResumeBot.json
{
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message",
          "callback_query"
        ],
        "additionalFields": {
          "download": true
        }
      },
      "id": "7a3eb8fa-2292-4304-878b-e96d6f0a56fc",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        25472,
        35264
      ],
      "webhookId": "b1af7cf5-ac6a-49ee-b2b3-b16fd40009a3",
      "credentials": {
        "telegramApi": {
          "id": "C4WFoCaBCTYvtSS5",
          "name": "AI Agent Bot"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "Profiles",
        "returnAll": true,
        "filters": {
          "conditions": [
            {
              "keyName": "telegram_id",
              "condition": "eq",
              "keyValue": "={{ ($('Telegram Trigger').item.json.callback_query ? $('Telegram Trigger').item.json.callback_query.message.chat.id : $('Telegram Trigger').item.json.message.chat.id) }}"
            }
          ]
        }
      },
      "id": "f78f05ac-219f-4077-b418-5abd5ea1d15b",
      "name": "Supabase Fetch",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        25696,
        35264
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "nc9cyvCFuivX90d4",
          "name": "Resume Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $('Supabase Fetch').item.json.master_profile;\nlet profile = null;\ntry { profile = typeof raw === 'string' ? JSON.parse(raw) : raw; } catch (e) { profile = null; }\n\nconst missing = [];\nconst addMissing = (label) => { if (!missing.includes(label)) missing.push(label); };\nconst hasProfile = profile && typeof profile === 'object';\n\nif (!hasProfile) {\n  addMissing('your resume data');\n} else {\n  if (!profile.name || !String(profile.name).trim()) addMissing('your full name');\n  const contact = profile.contact || {};\n  if (!contact.email && !contact.phone) addMissing('a contact email or phone number');\n  if (!profile.summary || !String(profile.summary).trim()) addMissing('a short professional summary');\n  const hasSkills = Array.isArray(profile.skills) && profile.skills.some((s) => {\n    const items = Array.isArray(s?.items) ? s.items.join(', ') : (s?.items ?? s?.skills);\n    return items && String(items).trim();\n  });\n  if (!hasSkills) addMissing('your key skills');\n  if (!Array.isArray(profile.education) || profile.education.length === 0) addMissing('your education details');\n  if (!Array.isArray(profile.work_experience) || profile.work_experience.length === 0) addMissing('your work experience');\n  if (!Array.isArray(profile.projects) || profile.projects.length === 0) addMissing('your projects');\n}\n\nconst isSufficient = missing.length === 0;\nlet prompt = '';\nif (!isSufficient) {\n  if (!hasProfile) {\n    prompt = '\ud83d\udced I don\\'t have your profile yet. Please upload your resume PDF or tell me about yourself so I can build it. Let\\'s start with your full name.';\n  } else {\n    prompt = '\ud83d\udcdd Your profile isn\\'t complete yet. Please send ' + missing[0] + ' next so I can finish it. You can paste it here or upload your resume PDF.';\n  }\n}\n\nreturn [{ json: { ...$input.item.json, profile_status: { isSufficient, missing, prompt } } }];"
      },
      "id": "cc6caa4b-879a-4ea1-816b-d7eca47a1a4d",
      "name": "Assess Master Profile",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        25920,
        35264
      ]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram Trigger').item.json.callback_query ? $('Telegram Trigger').item.json.callback_query.data : $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "/start",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "61c14268-c8e4-4205-b298-8bb03e6c349e"
                  },
                  {
                    "leftValue": "={{ $('Assess Master Profile').item.json.profile_status.isSufficient }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    },
                    "id": "ad813efa-0a1c-4d98-98ff-2f6bcb5240f4"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "info"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ (() => { const msg = $('Telegram Trigger').item.json.message?.text || ''; const text = msg.trim().toLowerCase(); if (!text) return false; const greetings = ['hi','hlo','oi','hoi','yo', 'hello', 'hey', 'hiya', 'good morning', 'good afternoon', 'good evening']; return greetings.some(g => text === g || text.startsWith(g + ' ')); })() }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    },
                    "id": "918143bf-4a1d-4331-90a8-1aad5f3f830c"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "greeting"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ (() => { const msg = $('Telegram Trigger').item.json.callback_query ? $('Telegram Trigger').item.json.callback_query.data : ($('Telegram Trigger').item.json.message?.text || ''); const text = msg.trim(); return !!text && text.startsWith('/') && !$('Assess Master Profile').item.json.profile_status.isSufficient; })() }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    },
                    "id": "7dd0c85d-cb65-43e0-b225-e1c6266aa5b6"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "profileIncomplete"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram Trigger').item.json.callback_query ? $('Telegram Trigger').item.json.callback_query.data : $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "/view",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "2f0e7dfa-4ab2-428b-8f2d-fb59f66dc905"
                  },
                  {
                    "leftValue": "={{ $('Assess Master Profile').item.json.profile_status.isSufficient }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    },
                    "id": "f809e446-61cd-4dc9-8c4d-0ab70cd36388"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "view"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram Trigger').item.json.callback_query ? $('Telegram Trigger').item.json.callback_query.data : $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "/download",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "9dd827b0-90b7-4068-866c-778a0f9b773a"
                  },
                  {
                    "leftValue": "={{ $('Assess Master Profile').item.json.profile_status.isSufficient }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    },
                    "id": "d229a0fd-0c5c-460f-a8a2-718a4f0d7607"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "download"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram Trigger').item.json.callback_query ? $('Telegram Trigger').item.json.callback_query.data : $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "/downloadOptimized",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "390d492d-c55a-475b-80ba-533c11f69ccc"
                  },
                  {
                    "leftValue": "={{ $('Assess Master Profile').item.json.profile_status.isSufficient }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    },
                    "id": "55fcf488-2778-4e33-a08a-1c3b4b84c2e1"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "downloadOptimized"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.document ? true : false }}",
                    "rightValue": false,
                    "operator": {
                      "type": "boolean",
                      "operation": "false"
                    },
                    "id": "22895ab4-8bad-464e-8d42-692854c6525d"
                  },
                  {
                    "leftValue": "={{ $('Telegram Trigger').item.json.callback_query ? $('Telegram Trigger').item.json.callback_query.data : $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "/view",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    },
                    "id": "cba85e23-8929-4422-a8db-f90f63e26af0"
                  },
                  {
                    "leftValue": "={{ $('Telegram Trigger').item.json.callback_query ? $('Telegram Trigger').item.json.callback_query.data : $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "/download",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    },
                    "id": "9e8d0735-ae9a-46a3-a865-d5e02786eb86"
                  },
                  {
                    "leftValue": "={{ $('Telegram Trigger').item.json.callback_query ? $('Telegram Trigger').item.json.callback_query.data : $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "/viewOptimized",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    },
                    "id": "44199f86-2947-4f6d-b86d-8b4fb3e897b6"
                  },
                  {
                    "leftValue": "={{ $('Telegram Trigger').item.json.callback_query ? $('Telegram Trigger').item.json.callback_query.data : $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "/downloadOptimized",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    },
                    "id": "d8037150-22bf-46b2-9bfd-77675f44ab92"
                  },
                  {
                    "leftValue": "={{ $('Telegram Trigger').item.json.callback_query ? $('Telegram Trigger').item.json.callback_query.data : $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "/start",
                    "operator": {
                      "type": "string",
                      "operation": "notEquals"
                    },
                    "id": "981e3c79-f92c-4775-8c89-5c2a197ee67b"
                  },
                  {
                    "leftValue": "={{ $('Telegram Trigger').item.json.callback_query ? $('Telegram Trigger').item.json.callback_query.data : $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "/optimize",
                    "operator": {
                      "type": "string",
                      "operation": "notStartsWith"
                    },
                    "id": "4b657bfe-b368-4762-b662-bf152bc419a3"
                  },
                  {
                    "leftValue": "={{ $('Telegram Trigger').item.json.callback_query ? $('Telegram Trigger').item.json.callback_query.data : $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "/coverletter",
                    "operator": {
                      "type": "string",
                      "operation": "notStartsWith"
                    },
                    "id": "cfa85e23-8929-4422-a8db-f90f63e26af1"
                  },
                  {
                    "leftValue": "={{ (() => { const msg = $('Telegram Trigger').item.json.message?.text || ''; const text = msg.trim().toLowerCase(); if (!text) return false; const greetings = ['hi','hlo','oi','hoi','yo', 'hello', 'hey', 'hiya', 'good morning', 'good afternoon', 'good evening']; return greetings.some(g => text === g || text.startsWith(g + ' ')); })() }}",
                    "rightValue": false,
                    "operator": {
                      "type": "boolean",
                      "operation": "false"
                    },
                    "id": "4c691f33-d9f0-413c-b584-4536477e1a3d"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "chat"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram Trigger').item.json.message.document ? true : false }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    },
                    "id": "43ad1b8d-21e4-49af-9c1b-f36da83100f5"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "pdf"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram Trigger').item.json.callback_query ? $('Telegram Trigger').item.json.callback_query.data : $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "/optimize",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    },
                    "id": "1c8659fe-12a2-42c3-b3ac-9fa2eb0acae0"
                  },
                  {
                    "leftValue": "={{ $('Assess Master Profile').item.json.profile_status.isSufficient }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    },
                    "id": "5c351eaa-9558-4c5d-a7c9-7c07c16d62fd"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "optimize"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ ( ($(\"Telegram Trigger\").item.json.callback_query ? $(\"Telegram Trigger\").item.json.callback_query.data : $(\"Telegram Trigger\").item.json.message.text) === '/viewOptimized' ) || ( ($(\"Telegram Trigger\").item.json.callback_query ? $(\"Telegram Trigger\").item.json.callback_query.data : $(\"Telegram Trigger\").item.json.message.text) === '/downloadOptimized' && !$(\"Supabase Fetch\").item.json.tailored_profile ) }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    },
                    "id": "a022defd-3406-4492-b41e-9fd5d998a9b0"
                  },
                  {
                    "leftValue": "={{ $('Assess Master Profile').item.json.profile_status.isSufficient }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    },
                    "id": "c0f02df8-6613-45db-bbc1-5a4a28e0be07"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "viewOptimized"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 1
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Telegram Trigger').item.json.callback_query ? $('Telegram Trigger').item.json.callback_query.data : $('Telegram Trigger').item.json.message.text }}",
                    "rightValue": "/coverletter",
                    "operator": {
                      "type": "string",
                      "operation": "startsWith"
                    },
                    "id": "e568a147-93ad-4463-a1cc-0022b5e89f87"
                  },
                  {
                    "leftValue": "={{ $('Assess Master Profile').item.json.profile_status.isSufficient }}",
                    "rightValue": true,
                    "operator": {
                      "type": "boolean",
                      "operation": "true"
                    },
                    "id": "3a0282d5-67e6-4741-a4f2-cd9760d25cd7"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "coverletter"
            }
          ]
        },
        "options": {}
      },
      "id": "03413c18-9dc2-4c67-8ec2-3572fcb94ed3",
      "name": "Command Router",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [
        26144,
        35120
      ]
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.item.json.master_profile\n  ?? $('Supabase Fetch').item.json.master_profile;\n\nif (!raw) return [{ json: { text: \"\ud83d\udced No profile found. Send me your resume PDF or tell me about yourself!\" } }];\n\nlet p;\ntry { p = typeof raw === 'string' ? JSON.parse(raw) : raw; }\ncatch(e) { return [{ json: { text: \"\u274c Could not read profile data. Try uploading your resume PDF again.\" } }]; }\n\nif (!p || typeof p !== 'object') return [{ json: { text: \"\ud83d\udced No profile found. Send me your resume PDF!\" } }];\n\nconst hasData = p.name || p.summary || p.tagline\n  || (p.skills && p.skills.length > 0)\n  || (p.work_experience && p.work_experience.length > 0)\n  || (p.education && p.education.length > 0)\n  || (p.projects && p.projects.length > 0)\n  || (p.certifications && p.certifications.length > 0)\n  || (p.contact && (p.contact.email || p.contact.phone));\n\nif (!hasData) return [{ json: { text: \"\ud83d\udced Your profile appears empty. Please upload your resume PDF or tell me your details!\" } }];\n\nlet msg = `\ud83d\udcc4 *Your Current Resume Profile*\\n\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\\n\\n`;\n\nif (p.name) msg += `\ud83d\udc64 *${p.name}*\\n`;\nif (p.tagline) msg += `_${p.tagline}_\\n`;\nif (p.name || p.tagline) msg += `\\n`;\n\nif (p.contact) {\n  const c = p.contact;\n  const hasContact = c.email || c.phone || c.linkedin_display || c.linkedin_url || c.github_display || c.github_url || c.portfolio_display || c.portfolio_url;\n  if (hasContact) {\n    msg += `\ud83d\udcec *Contact*\\n`;\n    if (c.email) msg += `  \ud83d\udce7 ${c.email}\\n`;\n    if (c.phone) msg += `  \ud83d\udcf1 ${c.phone}\\n`;\n    if (c.linkedin_display || c.linkedin_url) msg += `  \ud83d\udd17 LinkedIn: ${c.linkedin_display || c.linkedin_url}\\n`;\n    if (c.github_display || c.github_url) msg += `  \ud83d\udcbb GitHub: ${c.github_display || c.github_url}\\n`;\n    if (c.portfolio_display || c.portfolio_url) msg += `  \ud83c\udf10 Portfolio: ${c.portfolio_display || c.portfolio_url}\\n`;\n    msg += `\\n`;\n  }\n}\nif (p.summary) msg += `\ud83d\udcdd *Summary*\\n${p.summary}\\n\\n`;\n\nif (p.education && p.education.length > 0) {\n  msg += `\ud83c\udf93 *Education*\\n`;\n  p.education.forEach(e => {\n    msg += `  \u2022 *${e.degree}*\\n    ${e.institution}\\n`;\n    if (e.score) msg += `    Score: ${e.score}\\n`;\n    if (e.year) msg += `    Year: ${e.year}\\n`;\n  });\n  msg += `\\n`;\n}\n\nif (p.work_experience && p.work_experience.length > 0) {\n  msg += `\ud83d\udcbc *Work Experience*\\n`;\n  p.work_experience.forEach(w => {\n    msg += `\\n  *${w.title}* at ${w.company}`;\n    if (w.location) msg += `, ${w.location}`;\n    msg += `\\n`;\n    if (w.start_date) msg += `  _${w.start_date}${w.end_date ? ' \u2013 ' + w.end_date : ' \u2013 Present'}_\\n`;\n    if (w.bullet_points && w.bullet_points.length > 0)\n      w.bullet_points.forEach(b => msg += `    \u203a ${b}\\n`);\n  });\n  msg += `\\n`;\n}\n\nif (p.projects && p.projects.length > 0) {\n  msg += `\ud83d\ude80 *Projects*\\n`;\n  p.projects.forEach(proj => {\n    msg += `\\n  *${proj.name}*\\n`;\n    if (proj.tech_stack) msg += `  _${proj.tech_stack}_\\n`;\n    if (proj.duration) msg += `  _${proj.duration}_\\n`;\n    if (proj.link_display || proj.link_url) msg += `  \ud83d\udd17 ${proj.link_display || proj.link_url}\\n`;\n    if (proj.bullet_points && proj.bullet_points.length > 0)\n      proj.bullet_points.forEach(b => msg += `    \u203a ${b}\\n`);\n  });\n  msg += `\\n`;\n}\n\nif (p.skills && p.skills.length > 0) {\n  msg += `\ud83d\udee0\ufe0f *Technical Skills*\\n`;\n  p.skills.forEach(s => msg += `  \u2022 *${s.category || 'Skill'}:* ${s.items || s}\\n`);\n  msg += `\\n`;\n}\n\nif (p.certifications && p.certifications.length > 0) {\n  msg += `\ud83c\udfc6 *Certifications*\\n`;\n  p.certifications.forEach(cert => {\n    msg += `  \u2022 *${cert.name}*\\n    ${cert.issuer}`;\n    if (cert.year) msg += ` (${cert.year})`;\n    msg += `\\n`;\n  });\n  msg += `\\n`;\n}\n\nif (msg.length <= 4096) return [{ json: { text: msg, isLast: true } }];\nconst chunks = []; let current = '';\nfor (const line of msg.split('\\n')) {\n  if ((current + line + '\\n').length > 4000) { chunks.push(current.trim()); current = line + '\\n'; }\n  else current += line + '\\n';\n}\nif (current.trim()) chunks.push(current.trim());\nreturn chunks.map((text, index) => ({ json: { text, isLast: index === chunks.length - 1 } }));"
      },
      "id": "90c884ea-f86a-4203-b6fc-4ce5a9cf13e5",
      "name": "Format Profile View",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        26368,
        34976
      ]
    },
    {
      "parameters": {
        "chatId": "={{ ($('Telegram Trigger').item.json.callback_query ? $('Telegram Trigger').item.json.callback_query.message.chat.id : $('Telegram Trigger').item.json.message.chat.id) }}",
        "text": "={{ $json.text }}",
        "replyMarkup": "={{ $json.isLast ? 'inlineKeyboard' : 'none' }}",
        "forceReply": {},
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "\ud83d\udce5 Download PDF",
                    "additionalFields": {
                      "callback_data": "/download"
                    }
                  }
                ]
              }
            }
          ]
        },
        "replyKeyboardOptions": {},
        "replyKeyboardRemove": {},
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "0de1608e-8576-4c14-9450-b8d980402446",
      "name": "Telegram View Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        26592,
        34976
      ],
      "webhookId": "4c259a21-b8ae-4725-bfd8-fad039f14906",
      "credentials": {
        "telegramApi": {
          "id": "C4WFoCaBCTYvtSS5",
          "name": "AI Agent Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const msg = $('Telegram Trigger').item.json.callback_query ? $('Telegram Trigger').item.json.callback_query.data : ($('Telegram Trigger').item.json.message.text || '');\nconst isOptimized = msg.startsWith('/downloadOptimized');\nconst rawTailored = $('Supabase Fetch').item.json.tailored_profile;\nconst rawMaster = $('Supabase Fetch').item.json.master_profile;\nconst rawProfile = isOptimized ? rawTailored : rawMaster;\n\nif (!rawProfile) {\n  return [{\n    json: {\n      text: isOptimized\n        ? \"\ud83d\udced No optimized resume yet. Use \\`/optimize [paste JD here]\\` to create one!\"\n        : \"\ud83d\udced No profile found. Please upload your resume PDF first!\"\n    }\n  }];\n}\nconst p = typeof rawProfile === 'string' ? JSON.parse(rawProfile) : rawProfile;\n\nfunction esc(str) {\n  if (!str) return '';\n  return String(str)\n    .replace(/\\\\/g, '\\\\textbackslash{}')\n    .replace(/([&%$#{}])/g, '\\\\$1')\n    .replace(/~/g, '\\\\textasciitilde{}')\n    .replace(/\\^/g, '\\\\textasciicircum{}')\n    .replace(/_/g, '\\\\_');\n}\n\nconst c = p.contact || {};\n\nlet eduBlock = '';\n(p.education || []).forEach(e => {\n  eduBlock += `  ${esc(e.degree)} & ${esc(e.institution)} & ${esc(e.score)} & ${esc(e.year)} \\\\\\\\\\n  \\\\hline\\n`;\n});\n\nlet expBlock = '';\n(p.work_experience || []).forEach(w => {\n  expBlock += `  \\\\resumeSubheading{${esc(w.title)}}{${esc(w.location)}}{${esc(w.company)}}{${esc(w.start_date)} -- ${esc(w.end_date || 'Present')}}\\n`;\n  expBlock += `  \\\\resumeItemListStart\\n`;\n  (w.bullet_points || []).forEach(b => { expBlock += `    \\\\item {${esc(b)}}\\n`; });\n  expBlock += `  \\\\resumeItemListEnd\\n`;\n});\n\nlet projBlock = '';\n(p.projects || []).forEach(proj => {\n  const lTex = proj.link_url ? `\\\\href{${esc(proj.link_url)}}{${esc(proj.link_display || 'Link')}}` : '';\n  projBlock += `  \\\\resumeProject{${esc(proj.name)}}{${esc(proj.tech_stack)}}{${esc(proj.duration)}}{${lTex}}\\n`;\n  projBlock += `  \\\\resumeItemListStart\\n`;\n  (proj.bullet_points || []).forEach(b => { projBlock += `    \\\\item {${esc(b)}}\\n`; });\n  projBlock += `  \\\\resumeItemListEnd\\n`;\n});\n\nlet skillBlock = '';\n(p.skills || []).forEach(s => {\n  let items = '';\n  if (Array.isArray(s.items)) items = s.items.join(', ');\n  else if (typeof s.items === 'string') items = s.items;\n  else if (s.skills) items = Array.isArray(s.skills) ? s.skills.join(', ') : s.skills;\n  if (!items || !items.trim()) return;\n  const cat = s.category || s.name || 'Skills';\n  skillBlock += `  \\\\resumeSubItem{${esc(cat)}}{${esc(items)}}\\n`;\n});\n\nlet certBlock = '';\n(p.certifications || []).forEach(cert => {\n  certBlock += `  \\\\resumePOR{${esc(cert.issuer)}}{${esc(cert.name)}}{${esc(cert.year)}}\\n`;\n});\n\nconst tex = `\\\\documentclass[a4paper,11pt]{article}\n\\\\usepackage{latexsym}\n\\\\usepackage{xcolor}\n\\\\usepackage{float}\n\\\\usepackage{ragged2e}\n\\\\usepackage[empty]{fullpage}\n\\\\usepackage{wrapfig}\n\\\\usepackage{tabularx}\n\\\\usepackage{titlesec}\n\\\\usepackage{geometry}\n\\\\usepackage{marvosym}\n\\\\usepackage{verbatim}\n\\\\usepackage{enumitem}\n\\\\usepackage[hidelinks]{hyperref}\n\\\\usepackage{fancyhdr}\n\\\\usepackage{multicol}\n\\\\usepackage{graphicx}\n\\\\usepackage{cfr-lm}\n\\\\usepackage[T1]{fontenc}\n\\\\setlength{\\\\multicolsep}{0pt}\n\\\\pagestyle{fancy}\n\\\\fancyhf{}\n\\\\fancyfoot{}\n\\\\renewcommand{\\\\headrulewidth}{0pt}\n\\\\renewcommand{\\\\footrulewidth}{0pt}\n\\\\geometry{left=1.4cm, top=0.8cm, right=1.2cm, bottom=1cm}\n\\\\usepackage[most]{tcolorbox}\n\\\\tcbset{frame code={} center title, left=0pt, right=0pt, top=0pt, bottom=0pt, colback=gray!20, colframe=white, width=\\\\dimexpr\\\\textwidth\\\\relax, enlarge left by=-2mm, boxsep=4pt, arc=0pt, outer arc=0pt}\n\\\\urlstyle{same}\n\\\\raggedright\n\\\\setlength{\\\\tabcolsep}{0in}\n\\\\titleformat{\\\\section}{\\\\vspace{-4pt}\\\\scshape\\\\raggedright\\\\large}{}{0em}{}[\\\\color{black}\\\\titlerule \\\\vspace{-7pt}]\n\\\\newcommand{\\\\resumeItem}[2]{\\\\item{\\\\textbf{#1}{: #2 \\\\vspace{-0.5mm}}}}\n\\\\newcommand{\\\\resumePOR}[3]{\\\\vspace{0.5mm}\\\\item\\\\begin{tabular*}{0.97\\\\textwidth}[t]{l@{\\\\extracolsep{\\\\fill}}r}\\\\textbf{#1}: #2 & \\\\textit{\\\\small{#3}}\\\\end{tabular*}\\\\vspace{-2mm}}\n\\\\newcommand{\\\\resumeSubheading}[4]{\\\\vspace{0.5mm}\\\\item\\\\begin{tabular*}{0.98\\\\textwidth}[t]{l@{\\\\extracolsep{\\\\fill}}r}\\\\textbf{#1} & \\\\textit{\\\\footnotesize{#4}} \\\\\\\\ \\\\textit{\\\\footnotesize{#3}} & \\\\footnotesize{#2}\\\\\\\\\\\\end{tabular*}\\\\vspace{-2.4mm}}\n\\\\newcommand{\\\\resumeProject}[4]{\\\\vspace{0.5mm}\\\\item\\\\begin{tabular*}{0.98\\\\textwidth}[t]{l@{\\\\extracolsep{\\\\fill}}r}\\\\textbf{#1} & \\\\textit{\\\\footnotesize{#3}} \\\\\\\\ \\\\footnotesize{\\\\textit{#2}} & \\\\footnotesize{#4}\\\\end{tabular*}\\\\vspace{-2.4mm}}\n\\\\newcommand{\\\\resumeSubItem}[2]{\\\\resumeItem{#1}{#2}\\\\vspace{-4pt}}\n\\\\renewcommand{\\\\labelitemi}{$\\\\vcenter{\\\\hbox{\\\\tiny$\\\\bullet$}}$}\n\\\\newcommand{\\\\resumeSubHeadingListStart}{\\\\begin{itemize}[leftmargin=*,labelsep=0mm]}\n\\\\newcommand{\\\\resumeHeadingSkillStart}{\\\\begin{itemize}[leftmargin=*,itemsep=1.7mm, rightmargin=2ex]}\n\\\\newcommand{\\\\resumeItemListStart}{\\\\begin{justify}\\\\begin{itemize}[leftmargin=3ex, rightmargin=2ex, noitemsep,labelsep=1.2mm,itemsep=0mm]\\\\small}\n\\\\newcommand{\\\\resumeSubHeadingListEnd}{\\\\end{itemize}\\\\vspace{2mm}}\n\\\\newcommand{\\\\resumeHeadingSkillEnd}{\\\\end{itemize}\\\\vspace{-2mm}}\n\\\\newcommand{\\\\resumeItemListEnd}{\\\\end{itemize}\\\\end{justify}\\\\vspace{-2mm}}\n\\\\newcolumntype{L}{>{\\\\raggedright\\\\arraybackslash}X}\n\\\\newcolumntype{R}{>{\\\\raggedleft\\\\arraybackslash}X}\n\\\\newcolumntype{C}{>{\\\\centering\\\\arraybackslash}X}\n\n\\\\begin{document}\n\\\\fontfamily{cmr}\\\\selectfont\n\n\\\\begin{tabular*}{\\\\textwidth}{l@{\\\\extracolsep{\\\\fill}}r}\n  {\\\\LARGE \\\\textbf{${esc(p.name)}}} & \\\\href{mailto:${esc(c.email)}}{${esc(c.email)}} \\\\\\\\\n  \\\\textit{${esc(p.tagline)}} & ${esc(c.phone)} \\\\\\\\\n  \\\\href{${esc(c.linkedin_url)}}{LinkedIn: ${esc(c.linkedin_display)}} & \\\\href{${esc(c.github_url)}}{GitHub: ${esc(c.github_display)}} \\\\\\\\\n  \\\\href{${esc(c.portfolio_url)}}{Portfolio: ${esc(c.portfolio_display)}} & \\\\\\\\\n\\\\end{tabular*}\n\n\\\\section{Profile Summary}\n\\\\vspace{1mm}\n\\\\small{${esc(p.summary)}}\n\\\\vspace{1mm}\n\n\\\\section{Education}\n\\\\setlength{\\\\tabcolsep}{5pt}\n{\\\\small \\\\begin{tabularx}{\\\\linewidth}{|c|C|c|c|}\n  \\\\hline\n  \\\\textbf{Degree/Certificate} & \\\\textbf{Institute/Board} & \\\\textbf{Score} & \\\\textbf{Year}\\\\\\\\\n  \\\\hline\n${eduBlock}\\\\end{tabularx}}\n\\\\vspace{2mm}\n\n\\\\section{Experience}\n\\\\resumeSubHeadingListStart\n${expBlock}\\\\resumeSubHeadingListEnd\n\\\\vspace{-5.5mm}\n\n\\\\section{Projects}\n\\\\resumeSubHeadingListStart\n${projBlock}\\\\resumeSubHeadingListEnd\n\\\\vspace{-5.5mm}\n\n\\\\section{Technical Skills}\n\\\\resumeHeadingSkillStart\n${skillBlock}\\\\resumeHeadingSkillEnd\n\n\\\\section{Certifications}\n\\\\vspace{-0.2mm}\n\\\\resumeSubHeadingListStart\n${certBlock}\\\\resumeSubHeadingListEnd\n\n\\\\end{document}`;\n\nreturn [{\n  json: { success: true, tex_b64: Buffer.from(tex).toString('base64') },\n  binary: {\n    tex_file: {\n      data: Buffer.from(tex).toString('base64'),\n      mimeType: 'application/x-tex',\n      fileName: `resume_${($('Telegram Trigger').item.json.callback_query ? $('Telegram Trigger').item.json.callback_query.message.chat.id : $('Telegram Trigger').item.json.message.chat.id)}.tex`\n    }\n  }\n}];"
      },
      "id": "7d15b0cd-c59d-4563-a8eb-b02c6034ddbf",
      "name": "Generate LaTeX",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        26592,
        35168
      ]
    },
    {
      "parameters": {
        "command": "=echo \"{{ ($('Telegram Trigger').item.json.callback_query ? $('Telegram Trigger').item.json.callback_query.message.chat.id : $('Telegram Trigger').item.json.message.chat.id) }}\" > /tmp/chat_{{ $execution.id }}\necho \"{{ $('Generate LaTeX').item.json.tex_b64 }}\" | base64 -d > /tmp/resume_{{ ($('Telegram Trigger').item.json.callback_query ? $('Telegram Trigger').item.json.callback_query.message.chat.id : $('Telegram Trigger').item.json.message.chat.id) }}.tex\ncd /tmp\npdflatex -interaction=nonstopmode resume_{{ ($('Telegram Trigger').item.json.callback_query ? $('Telegram Trigger').item.json.callback_query.message.chat.id : $('Telegram Trigger').item.json.message.chat.id) }}.tex > /tmp/compile_{{ ($('Telegram Trigger').item.json.callback_query ? $('Telegram Trigger').item.json.callback_query.message.chat.id : $('Telegram Trigger').item.json.message.chat.id) }}.log 2>&1\npdflatex -interaction=nonstopmode resume_{{ ($('Telegram Trigger').item.json.callback_query ? $('Telegram Trigger').item.json.callback_query.message.chat.id : $('Telegram Trigger').item.json.message.chat.id) }}.tex >> /tmp/compile_{{ ($('Telegram Trigger').item.json.callback_query ? $('Telegram Trigger').item.json.callback_query.message.chat.id : $('Telegram Trigger').item.json.message.chat.id) }}.log 2>&1\nif [ $? -eq 0 ] && [ -f resume_{{ ($('Telegram Trigger').item.json.callback_query ? $('Telegram Trigger').item.json.callback_query.message.chat.id : $('Telegram Trigger').item.json.message.chat.id) }}.pdf ]; then\n  echo \"SUCCESS\"\nelse\n  echo \"COMPILE_ERROR\"\n  cat /tmp/compile_{{ ($('Telegram Trigger').item.json.callback_query ? $('Telegram Trigger').item.json.callback_query.message.chat.id : $('Telegram Trigger').item.json.message.chat.id) }}.log\nfi"
      },
      "id": "dc4b630d-455e-4e86-9079-3fa45cc9d277",
      "name": "Write LaTeX File",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        26880,
        35168
      ],
      "credentials": {
        "sshPassword": {
          "id": "E3zS3TopCpOFhIu5",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const b64 = $input.item.json.stdout.trim();\nconst chatId = ($('Telegram Trigger').item.json.callback_query ? $('Telegram Trigger').item.json.callback_query.message.chat.id : $('Telegram Trigger').item.json.message.chat.id);\nreturn [{\n  json: { success: true },\n  binary: {\n    pdf_doc: {\n      data: b64,\n      mimeType: 'application/pdf',\n      fileName: `resume_${chatId}.pdf`\n    }\n  }\n}];"
      },
      "id": "ca76c120-0ea1-4a73-8408-f60710a7f517",
      "name": "Decode PDF Binary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        28992,
        35264
      ]
    },
    {
      "parameters": {
        "operation": "sendDocument",
        "chatId": "={{ ($('Telegram Trigger').item.json.callback_query ? $('Telegram Trigger').item.json.callback_query.message.chat.id : $('Telegram Trigger').item.json.message.chat.id) }}",
        "binaryData": true,
        "binaryPropertyName": "pdf_doc",
        "additionalFields": {
          "caption": "Here is your compiled, ATS-friendly resume!"
        }
      },
      "id": "a052ffef-41ad-460a-8cfa-2a0e73e24c2d",
      "name": "Send PDF (Telegram)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        29216,
        35264
      ],
      "webhookId": "d53fcf7a-fa23-465d-a986-390f05874262",
      "credentials": {
        "telegramApi": {
          "id": "C4WFoCaBCTYvtSS5",
          "name": "AI Agent Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const triggerItem = $('Telegram Trigger').item;\nreturn [{ json: $input.item.json, binary: triggerItem.binary }];"
      },
      "id": "445d29f3-7b82-42d6-9676-fae12d1a8c3b",
      "name": "Reattach Binary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        26368,
        35728
      ]
    },
    {
      "parameters": {
        "operation": "pdf",
        "options": {}
      },
      "id": "e247bdae-72d2-410e-9bb3-acd05180944c",
      "name": "Extract PDF Text",
      "type": "n8n-nodes-base.extractFromFile",
      "typeVersion": 1,
      "position": [
        26592,
        35728
      ]
    },
    {
      "parameters": {
        "jsCode": "return { json: { promptText: \"I have uploaded my existing resume. Please parse this unstructured text and carefully map it into my structured master_profile database object. Here is the raw PDF text:\\n\\n\" + $input.item.json.text } };"
      },
      "id": "97ce6f87-31f7-4aed-863d-2d25856ad80c",
      "name": "Format PDF Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        26880,
        35728
      ]
    },
    {
      "parameters": {
        "jsCode": "return { json: { promptText: $('Telegram Trigger').item.json.message.text } };"
      },
      "id": "c5500ecc-607d-481c-a7bc-b9cc9a6d767d",
      "name": "Format Chat Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        26880,
        35488
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.promptText }}",
        "options": {
          "systemMessage": "You are an expert AI Resume assistant. Your job is to extract user information and perfectly structure it for a LaTeX compiler.\n\n[USER CONTEXT FROM DATABASE]\n{{ $('Supabase Fetch').item.json.master_profile ? JSON.stringify($('Supabase Fetch').item.json.master_profile) : 'NO_PROFILE' }}\n\n\n[HUMAN WRITING STYLE & TONE RULES]\nTo ensure all generated resume content (summaries, tagline, bullet points) and chat replies sound highly natural, professional, and authentic (rather than obviously AI-generated):\n- Write in a grounded, understated, and clear tone. Avoid dramatic, self-aggrandizing, or clich\u00e9 phrasing.\n- ABSOLUTELY AVOID typical AI buzzwords: delve, testament, beacon, synergy, seamless, seamlessly, cutting-edge, revolutionary, leverage, leveraging, transformative, meticulously, expertly, proven track record, elevate, tapestry, foster, multifaceted, catalyst, passionate, dynamically.\n- Vary action verbs. Avoid overusing \"spearheaded\"; use: led, built, managed, designed, developed, scaled, ran, or coordinated.\n- Do not use lazy transitions like \"Moreover,\", \"Furthermore,\", \"Additionally,\", or \"In addition to,\".\n- Avoid generic filler or corporate fluff. Write concrete, factual sentences.\n- Avoid double hyphens (\"--\") in plain text. Use normal single hyphens or standard em-dash spacing.\n\n[CRITICAL INSTRUCTION: STRICT JSON SCHEMA]\nYou MUST output ONLY a raw JSON object and nothing else. The JSON must contain exactly these three keys:\n1. \"chat_reply\": Your friendly natural language response.\n2. \"profile_updated\": boolean. Set TRUE if ANY new info was added, FALSE if no new facts.\n3. \"master_profile\": { name, tagline, contact: { email, phone, linkedin_url, linkedin_display, github_url, github_display, portfolio_url, portfolio_display }, summary, skills: [{category, items}], work_experience: [{ title, company, location, start_date, end_date, bullet_points: [] }], education: [{ degree, institution, score, year }], projects: [{ name, tech_stack, duration, link_url, link_display, bullet_points: [] }], certifications: [{ issuer, name, year }] }"
        }
      },
      "id": "fbe0bfb2-bbb1-483b-9afc-57de9b720f3a",
      "name": "AI Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        27168,
        35520
      ]
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ ($('Telegram Trigger').item.json.callback_query ? $('Telegram Trigger').item.json.callback_query.message.chat.id : $('Telegram Trigger').item.json.message.chat.id) }}"
      },
      "id": "a4998a39-2f1a-4de5-ab01-ada445e6f056",
      "name": "Window Buffer Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.2,
      "position": [
        27312,
        35744
      ]
    },
    {
      "parameters": {
        "jsCode": "let rawText = $input.item.json.output || \"\";\nlet parsed = {};\ntry {\n  let cleaned = rawText.replace(/```json|```/gi, \"\").trim();\n  const jsonMatch = cleaned.match(/\\{[\\s\\S]*\\}/);\n  if (jsonMatch) cleaned = jsonMatch[0];\n  parsed = JSON.parse(cleaned);\n  if (typeof parsed.profile_updated === \"string\") parsed.profile_updated = parsed.profile_updated.toLowerCase() === \"true\";\n  if (parsed.profile_updated === undefined) parsed.profile_updated = !!parsed.master_profile;\n\n  const existingRow = $(\"Supabase Fetch\").item.json;\n  const isNewUser = !existingRow || !existingRow.telegram_id;\n  const hasProfileData = parsed.master_profile && typeof parsed.master_profile === \"object\" && Object.keys(parsed.master_profile).length > 0;\n  if (isNewUser && hasProfileData) parsed.profile_updated = true;\n} catch (e) {\n  parsed = { chat_reply: \"Sorry, I had trouble parsing that. Could you try again?\", profile_updated: false, master_profile: null };\n}\n\nconst buildStatus = (profile) => {\n  const missing = [];\n  const addMissing = (label) => { if (!missing.includes(label)) missing.push(label); };\n  const hasProfile = profile && typeof profile === \"object\";\n\n  if (!hasProfile) {\n    addMissing(\"your resume data\");\n  } else {\n    if (!profile.name || !String(profile.name).trim()) addMissing(\"your full name\");\n    const contact = profile.contact || {};\n    if (!contact.email && !contact.phone) addMissing(\"a contact email or phone number\");\n    if (!profile.summary || !String(profile.summary).trim()) addMissing(\"a short professional summary\");\n    const hasSkills = Array.isArray(profile.skills) && profile.skills.some((s) => {\n      const items = Array.isArray(s?.items) ? s.items.join(\", \") : (s?.items ?? s?.skills);\n      return items && String(items).trim();\n    });\n    if (!hasSkills) addMissing(\"your key skills\");\n    if (!Array.isArray(profile.education) || profile.education.length === 0) addMissing(\"your education details\");\n    if (!Array.isArray(profile.work_experience) || profile.work_experience.length === 0) addMissing(\"your work experience\");\n    if (!Array.isArray(profile.projects) || profile.projects.length === 0) addMissing(\"your projects\");\n  }\n\n  const isSufficient = missing.length === 0;\n  let prompt = \"\";\n  if (!isSufficient) {\n    if (!hasProfile) {\n      prompt = \"\ud83d\udced I don't have your profile yet. Please upload your resume PDF or tell me about yourself so I can build it. Let's start with your full name.\";\n    } else {\n      prompt = \"\ud83d\udcdd Your profile isn't complete yet. Please send \" + missing[0] + \" next so I can finish it. You can paste it here or upload your resume PDF.\";\n    }\n  }\n\n  return { isSufficient, missing, prompt };\n};\n\nconst rawProfile = parsed.master_profile ?? $(\"Supabase Fetch\").item.json.master_profile;\nlet profile = null;\ntry { profile = typeof rawProfile === \"string\" ? JSON.parse(rawProfile) : rawProfile; } catch (e) { profile = null; }\n\nconst profile_status = buildStatus(profile);\nparsed.profile_status = profile_status;\n\nif (profile_status.prompt) {\n  parsed.chat_reply = parsed.chat_reply ? parsed.chat_reply + \"\\n\\n\" + profile_status.prompt : profile_status.prompt;\n}\n\nreturn [{ json: parsed }];"
      },
      "id": "4bb40cdf-5ae8-43ba-8542-6edfb8113afc",
      "name": "Parse JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        27520,
        35632
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.profile_updated }}",
              "value2": true
            }
          ]
        }
      },
      "id": "3be214ab-d04c-4d3c-893f-0994f6525f65",
      "name": "Profile Updated?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        27808,
        35632
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $('Supabase Fetch').item.json.telegram_id }}",
              "operation": "isNotEmpty"
            }
          ]
        }
      },
      "id": "ee7a9c9c-4fe9-428a-bb9b-c1e4a4f62c45",
      "name": "Row Exists?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        28096,
        35552
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "Profiles",
        "filters": {
          "conditions": [
            {
              "keyName": "telegram_id",
              "condition": "eq",
              "keyValue": "={{ ($('Telegram Trigger').item.json.callback_query ? $('Telegram Trigger').item.json.callback_query.message.chat.id : $('Telegram Trigger').item.json.message.chat.id) }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "master_profile",
              "fieldValue": "={{ JSON.stringify($('Parse JSON').item.json.master_profile) }}"
            }
          ]
        }
      },
      "id": "987edd78-7270-4c61-b900-7765473591e1",
      "name": "Supabase Update",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        28320,
        35456
      ],
      "credentials": {
        "supabaseApi": {
          "id": "nc9cyvCFuivX90d4",
          "name": "Resume Bot"
        }
      }
    },
    {
      "parameters": {
        "tableId": "Profiles",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "telegram_id",
              "fieldValue": "={{ ($('Telegram Trigger').item.json.callback_query ? $('Telegram Trigger').item.json.callback_query.message.chat.id : $('Telegram Trigger').item.json.message.chat.id) }}"
            },
            {
              "fieldId": "master_profile",
              "fieldValue": "={{ JSON.stringify($('Parse JSON').item.json.master_profile) }}"
            }
          ]
        }
      },
      "id": "7b133ef1-c8b5-4aab-a0a7-1dffa99042da",
      "name": "Supabase Create",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        28320,
        35648
      ],
      "credentials": {
        "supabaseApi": {
          "id": "nc9cyvCFuivX90d4",
          "name": "Resume Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ ($('Telegram Trigger').item.json.callback_query ? $('Telegram Trigger').item.json.callback_query.message.chat.id : $('Telegram Trigger').item.json.message.chat.id) }}",
        "text": "={{ $('Parse JSON').item.json.chat_reply }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "\ud83d\udc41\ufe0f View Profile",
                    "additionalFields": {
                      "callback_data": "/view"
                    }
                  },
                  {
                    "text": "\ud83d\udce5 Download PDF",
                    "additionalFields": {
                      "callback_data": "/download"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "b335dcff-0bf5-4546-8d30-de2552951adf",
      "name": "Telegram Chat Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        28768,
        35488
      ],
      "webhookId": "4c259a21-b8ae-4725-bfd8-fad039f14906",
      "credentials": {
        "telegramApi": {
          "id": "C4WFoCaBCTYvtSS5",
          "name": "AI Agent Bot"
        }
      }
    },
    {
      "parameters": {
        "command": "=base64 -w 0 /tmp/resume_{{ ($('Telegram Trigger').item.json.callback_query ? $('Telegram Trigger').item.json.callback_query.message.chat.id : $('Telegram Trigger').item.json.message.chat.id) }}.pdf && rm -f /tmp/resume_{{ ($('Telegram Trigger').item.json.callback_query ? $('Telegram Trigger').item.json.callback_query.message.chat.id : $('Telegram Trigger').item.json.message.chat.id) }}.tex /tmp/resume_{{ ($('Telegram Trigger').item.json.callback_query ? $('Telegram Trigger').item.json.callback_query.message.chat.id : $('Telegram Trigger').item.json.message.chat.id) }}.pdf /tmp/resume_{{ ($('Telegram Trigger').item.json.callback_query ? $('Telegram Trigger').item.json.callback_query.message.chat.id : $('Telegram Trigger').item.json.message.chat.id) }}.log /tmp/resume_{{ ($('Telegram Trigger').item.json.callback_query ? $('Telegram Trigger').item.json.callback_query.message.chat.id : $('Telegram Trigger').item.json.message.chat.id) }}.aux /tmp/compile_{{ ($('Telegram Trigger').item.json.callback_query ? $('Telegram Trigger').item.json.callback_query.message.chat.id : $('Telegram Trigger').item.json.message.chat.id) }}.log"
      },
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        28768,
        35264
      ],
      "id": "d8313b7c-b5a9-41ae-82d3-b8d7676e9496",
      "name": "Read PDF Base64",
      "credentials": {
        "sshPassword": {
          "id": "E3zS3TopCpOFhIu5",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "model": "qwen3-coder:480b",
        "options": {}
      },
      "id": "d8531e5e-cab2-4486-a561-86f9dd18f728",
      "name": "Ollama",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        27184,
        35744
      ],
      "credentials": {
        "openAiApi": {
          "id": "ULmeiabvCrdrvhgq",
          "name": "Ollama API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const msg = $('Telegram Trigger').item.json.message.text || '';\nconst jd = msg.replace(/^\\/optimize\\s*/i, '').trim();\n\nif (!jd) {\n  return [{ json: { promptText: 'The user typed /optimize without a job description. Ask them to paste the full JD directly after /optimize in one message. Example: /optimize [paste JD here]' } }];\n}\n\nconst rawProfile = $('Supabase Fetch').item.json.master_profile;\nif (!rawProfile) {\n  return [{ json: { promptText: 'The user has no profile yet. Tell them to upload their resume PDF first before optimizing.' } }];\n}\n\nconst profile = typeof rawProfile === 'string' ? JSON.parse(rawProfile) : rawProfile;\n\nconst promptText = `OPTIMIZE my resume for this Job Description. Remember: COPY my name, contact, education, and certifications EXACTLY. Only rewrite summary, reorder skills, and rephrase bullet points.\n\nMY CURRENT PROFILE:\n${JSON.stringify(profile, null, 2)}\n\nTARGET JOB DESCRIPTION:\n${jd}`;\n\nreturn [{ json: { promptText } }];"
      },
      "id": "a4612276-dad7-4d50-b31f-aade651f91a9",
      "name": "Format JD Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        26592,
        36016
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.promptText }}",
        "options": {
          "systemMessage": "You are an expert AI Resume Optimizer.\n\n[USER'S MASTER PROFILE \u2014 THIS IS GROUND TRUTH]\n{{ $('Supabase Fetch').item.json.master_profile ? JSON.stringify($('Supabase Fetch').item.json.master_profile) : 'NO_PROFILE' }}\n\n[STRICT RULES]\n1. NEVER fabricate or invent ANY data. No fake degrees, no fake companies, no fake projects.\n2. COPY these fields EXACTLY from master_profile without ANY changes:\n   - name, contact (all fields), education (all entries), certifications (all entries)\n3. You MAY ONLY modify:\n   - summary: rewrite to target the JD role\n   - tagline: adjust to match the JD role\n   - skills: reorder categories so JD-relevant ones come first. Keep ALL existing items.\n   - work_experience.bullet_points: rephrase to emphasize JD-relevant keywords\n   - projects.bullet_points: rephrase to emphasize JD-relevant keywords\n   - projects order: put most JD-relevant projects first\n4. Every skill category MUST have a non-empty 'items' string. Never leave items blank.\n5. Every work_experience and project MUST keep ALL original bullet_points (rephrase, don't delete).\n\n\n[HUMAN WRITING STYLE & TONE RULES]\nTo ensure all generated resume content (summaries, tagline, bullet points) and chat replies sound highly natural, professional, and authentic (rather than obviously AI-generated):\n- Write in a grounded, understated, and clear tone. Avoid dramatic, self-aggrandizing, or clich\u00e9 phrasing.\n- ABSOLUTELY AVOID typical AI buzzwords: delve, testament, beacon, synergy, seamless, seamlessly, cutting-edge, revolutionary, leverage, leveraging, transformative, meticulously, expertly, proven track record, elevate, tapestry, foster, multifaceted, catalyst, passionate, dynamically.\n- Vary action verbs. Avoid overusing \"spearheaded\"; use: led, built, managed, designed, developed, scaled, ran, or coordinated.\n- Do not use lazy transitions like \"Moreover,\", \"Furthermore,\", \"Additionally,\", or \"In addition to,\".\n- Avoid generic filler or corporate fluff. Write concrete, factual sentences.\n- Avoid double hyphens (\"--\") in plain text. Use normal single hyphens or standard em-dash spacing.\n\n[YOUR TASK]\nThe user will paste a Job Description. You must:\n1. Identify skill gaps between the JD and the master_profile\n2. Construct a tailored_profile by reframing (not fabricating) existing data\n3. In chat_reply, list 2-3 key optimizations you made and any skill gaps found\n\n[OUTPUT FORMAT \u2014 RAW JSON ONLY]\n{\n  \"chat_reply\": \"string \u2014 gaps found + optimizations made\",\n  \"tailored_profile\": { EXACT same schema as master_profile with all fields populated }\n}"
        }
      },
      "id": "3c8fe86f-d083-4939-a848-4cb6e1091109",
      "name": "AI JD Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        26816,
        35920
      ]
    },
    {
      "parameters": {
        "model": "qwen3-coder:480b",
        "options": {}
      },
      "id": "2d645885-b357-44ba-af7f-39986e5251a5",
      "name": "Ollama JD",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        26896,
        36144
      ],
      "credentials": {
        "openAiApi": {
          "id": "ULmeiabvCrdrvhgq",
          "name": "Ollama API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "let rawText = $input.item.json.output || '';\nlet parsed = {};\ntry {\n  let cleaned = rawText.replace(/```json|```/gi, '').trim();\n  const m = cleaned.match(/\\{[\\s\\S]*\\}/);\n  if (m) cleaned = m[0];\n  parsed = JSON.parse(cleaned);\n} catch(e) {\n  parsed = { chat_reply: \"Sorry, I had trouble optimizing your profile. Try again!\", tailored_profile: null };\n}\nreturn [{ json: parsed }];"
      },
      "id": "efae713a-9999-457b-b598-ec3a6e4a0703",
      "name": "Parse JD JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        27232,
        36016
      ]
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "Profiles",
        "filters": {
          "conditions": [
            {
              "keyName": "telegram_id",
              "condition": "eq",
              "keyValue": "={{ ($('Telegram Trigger').item.json.callback_query ? $('Telegram Trigger').item.json.callback_query.message.chat.id : $('Telegram Trigger').item.json.message.chat.id) }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "tailored_profile",
              "fieldValue": "={{ JSON.stringify($('Parse JD JSON').item.json.tailored_profile) }}"
            }
          ]
        }
      },
      "id": "d5a17f10-a4c9-4c4d-a994-29ae7798891f",
      "name": "Supabase Save Tailored",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        27520,
        36016
      ],
      "credentials": {
        "supabaseApi": {
          "id": "nc9cyvCFuivX90d4",
          "name": "Resume Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ ($('Telegram Trigger').item.json.callback_query ? $('Telegram Trigger').item.json.callback_query.message.chat.id : $('Telegram Trigger').item.json.message.chat.id) }}",
        "text": "={{ '\ud83c\udfaf *Resume Optimized!*\\n\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\\n\\n' + $('Parse JD JSON').item.json.chat_reply + '\\n\\n\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\\n_Type /downloadOptimized to get your tailored PDF!_' }}",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "\ud83d\udc41\ufe0f View Optimized Profile",
                    "additionalFields": {
                      "callback_data": "/viewOptimized"
                    }
                  },
                  {
                    "text": "\ud83d\udce5 Download PDF",
                    "additionalFields": {
                      "callback_data": "/downloadOptimized"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "d9231843-fed0-4093-a077-ffede2887784",
      "name": "Telegram Optimize Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        27808,
        36016
      ],
      "webhookId": "4c259a21-b8ae-4725-bfd8-fad039f14906",
      "credentials": {
        "telegramApi": {
          "id": "C4WFoCaBCTYvtSS5",
          "name": "AI Agent Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.item.json.tailored_profile\n  ?? $('Supabase Fetch').item.json.tailored_profile;\n\nif (!raw) return [{ json: { text: \"No optimized profile exists\" } }];\n\nlet p;\ntry { p = typeof raw === 'string' ? JSON.parse(raw) : raw; }\ncatch(e) { return [{ json: { text: \"\u274c Could not read tailored profile. Try running /optimize again.\" } }]; }\n\nconst hasData = p.name || p.summary || p.tagline\n  || (p.skills && p.skills.length > 0)\n  || (p.work_experience && p.work_experience.length > 0);\n\nif (!hasData) return [{ json: { text: \"No optimized profile exists\" } }];\n\nlet msg = `\ud83c\udfaf *Tailored Resume Preview*\\n\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\\n\\n`;\n\nif (p.name) msg += `\ud83d\udc64 *${p.name}*\\n`;\nif (p.tagline) msg += `_${p.tagline}_\\n`;\nif (p.name || p.tagline) msg += `\\n`;\n\nif (p.contact) {\n  const c = p.contact;\n  const hasContact = c.email || c.phone || c.linkedin_display || c.linkedin_url || c.github_display || c.github_url || c.portfolio_display || c.portfolio_url;\n  if (hasContact) {\n    msg += `\ud83d\udcec *Contact*\\n`;\n    if (c.email) msg += `  \ud83d\udce7 ${c.email}\\n`;\n    if (c.phone) msg += `  \ud83d\udcf1 ${c.phone}\\n`;\n    if (c.linkedin_display || c.linkedin_url) msg += `  \ud83d\udd17 LinkedIn: ${c.linkedin_display || c.linkedin_url}\\n`;\n    if (c.github_display || c.github_url) msg += `  \ud83d\udcbb GitHub: ${c.github_display || c.github_url}\\n`;\n    if (c.portfolio_display || c.portfolio_url) msg += `  \ud83c\udf10 Portfolio: ${c.portfolio_display || c.portfolio_url}\\n`;\n    msg += `\\n`;\n  }\n}\n\nif (p.summary) msg += `\ud83d\udcdd *Summary*\\n${p.summary}\\n\\n`;\n\nif (p.education && p.education.length > 0) {\n  msg += `\ud83c\udf93 *Education*\\n`;\n  p.education.forEach(e => {\n    msg += `  \u2022 *${e.degree}*\\n    ${e.institution}\\n`;\n    if (e.score) msg += `    Score: ${e.score}\\n`;\n    if (e.year) msg += `    Year: ${e.year}\\n`;\n  });\n  msg += `\\n`;\n}\n\nif (p.work_experience && p.work_experience.length > 0) {\n  msg += `\ud83d\udcbc *Work Experience*\\n`;\n  p.work_experience.forEach(w => {\n    msg += `\\n  *${w.title}* at ${w.company}`;\n    if (w.location) msg += `, ${w.location}`;\n    msg += `\\n`;\n    if (w.start_date) msg += `  _${w.start_date}${w.end_date ? ' \u2013 ' + w.end_date : ' \u2013 Present'}_\\n`;\n    if (w.bullet_points && w.bullet_points.length > 0)\n      w.bullet_points.forEach(b => msg += `    \u203a ${b}\\n`);\n  });\n  msg += `\\n`;\n}\n\nif (p.projects && p.projects.length > 0) {\n  msg += `\ud83d\ude80 *Projects*\\n`;\n  p.projects.forEach(proj => {\n    msg += `\\n  *${proj.name}*\\n`;\n    if (proj.tech_stack) msg += `  _${proj.tech_stack}_\\n`;\n    if (proj.duration) msg += `  _${proj.duration}_\\n`;\n    if (proj.link_display || proj.link_url) msg += `  \ud83d\udd17 ${proj.link_display || proj.link_url}\\n`;\n    if (proj.bullet_points && proj.bullet_points.length > 0)\n      proj.bullet_points.forEach(b => msg += `    \u203a ${b}\\n`);\n  });\n  msg += `\\n`;\n}\n\nif (p.skills && p.skills.length > 0) {\n  msg += `\ud83d\udee0\ufe0f *Technical Skills*\\n`;\n  p.skills.forEach(s => msg += `  \u2022 *${s.category || 'Skill'}:* ${s.items || s}\\n`);\n  msg += `\\n`;\n}\n\nif (p.certifications && p.certifications.length > 0) {\n  msg += `\ud83c\udfc6 *Certifications*\\n`;\n  p.certifications.forEach(cert => {\n    msg += `  \u2022 *${cert.name}*\\n    ${cert.issuer}`;\n    if (cert.year) msg += ` (${cert.year})`;\n    msg += `\\n`;\n  });\n  msg += `\\n`;\n}\n\nmsg += `\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\u2501\\n_This is your JD-optimised resume. Type /downloadOptimized to get the PDF!_`;\n\nif (msg.length <= 4096) return [{ json: { text: msg, isLast: true } }];\nconst chunks = []; let current = '';\nfor (const line of msg.split('\\n')) {\n  if ((current + line + '\\n').length > 4000) { chunks.push(current.trim()); current = line + '\\n'; }\n  else current += line + '\\n';\n}\nif (current.trim()) chunks.push(current.trim());\nreturn chunks.map((text, index) => ({ json: { text, isLast: index === chunks.length - 1 } }));"
      },
      "id": "1812fe85-9a70-40df-99f7-643db3c70919",
      "name": "Format JD View",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        26368,
        36208
      ]
    },
    {
      "parameters": {
        "chatId": "={{ ($('Telegram Trigger').item.json.callback_query ? $('Telegram Trigger').item.json.callback_query.message.chat.id : $('Telegram Trigger').item.json.message.chat.id) }}",
        "text": "={{ $json.text }}",
        "replyMarkup": "={{ $json.isLast ? 'inlineKeyboard' : 'none' }}",
        "forceReply": {},
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "\ud83d\udce5 Download PDF",
                    "additionalFields": {
                      "callback_data": "/downloadOptimized"
                    }
                  }
                ]
              }
            }
          ]
        },
        "replyKeyboardOptions": {},
        "replyKeyboardRemove": {},
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "Markdown"
        }
      },
      "id": "3816f9b5-09ab-43e2-ad4b-6cf348c22de0",
      "name": "Telegram JD View Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        26592,
        36208
      ],
      "webhookId": "4c259a21-b8ae-4725-bfd8-fad039f14906",
      "credentials": {
        "telegramApi": {
          "id": "C4WFoCaBCTYvtSS5",
          "name": "AI Agent Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ ($('Telegram Trigger').item.json.callback_query ? $('Telegram Trigger').item.json.callback_query.message.chat.id : $('Telegram Trigger').item.json.message.chat.id) }}",
        "text": "=<b>\ud83e\udd16 Welcome to ResumeBot!</b>\n\nI help you store your professional history, update it via natural chat, and generate ATS-friendly PDF resumes tailored to specific jobs. \n\n<b>\u2728 How it works:</b>\n\n<b>1. Upload your Resume:</b> Drop your current resume (PDF) into this chat. I\u2019ll parse it and save it as your baseline <i>Master Profile</i>.\n\n<b>2. Chat to Update:</b> You don't need commands to add new information. Just message me naturally\u2014like <i>\"I just learned Python\"</i> or <i>\"Add my new UI/UX internship\"</i>\u2014and I\u2019ll update your database in the background.\n\n<b>3. Target a Job:</b> Send <code>/optimize</code> followed by a job description. I\u2019ll run a gap analysis, ask you about missing skills, and generate a temporary <i>Tailored Profile</i> specifically for that application.\n\n<b>\ud83d\udee0 Command Menu:</b>\n\n<code>/view</code> - Read your permanent master profile.\n<code>/download</code> - Export your master profile as a PDF.\n<code>/optimize</code> <i>[paste JD]</i> - Create a tailored resume for a specific role.\n<code>/viewOptimized</code> - Read your currently tailored resume.\n<code>/downloadOptimized</code> - Export your tailored resume as a PDF.\n<code>/coverletter</code> - Generate a tailored cover letter PDF.\n<code>/start</code> - Show this menu again.\n\n<i><b>Note:</b> Running <code>/optimize</code> only modifies a temporary profile for your current application. Your Master Profile is always preserved.</i>",
        "replyMarkup": "inlineKeyboard",
        "inlineKeyboard": {
          "rows": [
            {
              "row": {
                "buttons": [
                  {
                    "text": "\ud83d\udc41\ufe0f View Profile",
                    "additionalFields": {
                      "callback_data": "/view"
                    }
                  },
                  {
                    "text": "\ud83d\udce5 Download PDF",
                    "additionalFields": {
                      "callback_data": "/download"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "\ud83d\udc41\ufe0f View Optimized",
                    "additionalFields": {
                      "callback_data": "/viewOptimized"
                    }
                  },
                  {
                    "text": "\ud83d\udce5 Download Optimized",
                    "additionalFields": {
                      "callback_data": "/downloadOptimized"
                    }
                  }
                ]
              }
            },
            {
              "row": {
                "buttons": [
                  {
                    "text": "\u2709\ufe0f Generate Cover Letter",
                    "additionalFields": {
                      "callback_data": "/coverletter"
                    }
                  }
                ]
              }
            }
          ]
        },
        "additionalFields": {
          "appendAttribution": false,
          "parse_mode": "HTML"
        }
      },
      "id": "4fba444e-1eec-4cd3-be6f-06d91354a32f",
      "name": "Telegram Info Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        26368,
        34400
      ],
      "webhookId": "4c259a21-b8ae-4725-bfd8-fad039f14906",
      "credentials": {
        "telegramApi": {
          "id": "C4WFoCaBCTYvtSS5",
          "name": "AI Agent Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ ($('Telegram Trigger').item.json.callback_query ? $('Telegram Trigger').item.json.callback_query.message.chat.id : $('Telegram Trigger').item.json.message.chat.id) }}",
        "text": "Hang on. I'm updating your profile. This might take a few seconds.",
        "additionalFields": {
          "appendAttribution": false,
          "disable_notification": true
        }
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        26592,
        35488
      ],
      "id": "7733f6f0-abb3-4384-9838-4a9cf93942ee",
      "name": "Send a text message",
      "webhookId": "320a3c2c-185f-4ff2-b47d-ef92625ddc2e",
      "credentials": {
        "telegramApi": {
          "id": "C4WFoCaBCTYvtSS5",
          "name": "AI Agent Bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.stdout }}",
              "operation": "contains",
              "value2": "SUCCESS"
            }
          ]
        }
      },
      "id": "faab7b16-0def-4cc1-927f-ad0bfd660ddf",
      "name": "If Compile Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        27232,
        35168
      ]
    },
    {
      "parameters": {
        "jsCode": "const stdout = $('Write LaTeX File').item.json.stdout;\nconst rawTex = Buffer.from($('Generate LaTeX').item.json.tex_b64, 'base64').toString('utf8');\n\nconst promptText = `The following LaTeX code failed to compile with pdflatex. Here is the compile log:\n\n[COMPILE LOG]\n${stdout}\n\n[ORIGINAL LATEX CODE]\n${rawTex}\n\nFix the compilation error (especially check for unescaped special characters like %, &, $, _, #, etc. inside text blocks, missing packages, or table columns mismatches). Return ONLY the corrected raw LaTeX code.`;\n\nreturn [{ json: { promptText } }];"
      },
      "id": "e76332f3-ed5c-4a9d-9332-3e868f215eb4",
      "name": "Format Fix LaTeX Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        27520,
        35040
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.promptText }}",
        "options": {
          "systemMessage": "You are a LaTeX expert. Fix any pdflatex compilation errors in the provided LaTeX code. Return ONLY the corrected raw LaTeX code, starting with \\documentclass and ending with \\end{document}. No explanation, no markdown, no backticks."
        }
      },
      "id": "2d7974cc-72f9-4624-9956-cb1812ba38d1",
      "name": "AI Fix LaTeX Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        27744,
        35040
      ]
    },
    {
      "parameters": {
        "model": "qwen3-coder:480b",
        "options": {}
      },
      "id": "972bbb73-8a05-4b51-afc3-f06b93d7f707",
      "name": "Ollama Fix LaTeX Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        27824,
        35264
      ],
      "credentials": {
        "openAiApi": {
          "id": "ULmeiabvCrdrvhgq",
          "name": "Ollama API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const rawTex = $input.item.json.output || '';\nconst cleaned = rawTex.replace(/```latex|```/gi, '').trim();\nreturn [{ json: { fixed_tex_b64: Buffer.from(cleaned).toString('base64') } }];"
      },
      "id": "b1461574-d004-4708-a2fa-feb52184e474",
      "name": "Base64 Encode Fixed LaTeX",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        28096,
        35040
      ]
    },
    {
      "parameters": {
        "command": "=echo \"{{ $json.fixed_tex_b64 }}\" | base64 -d > /tmp/resume_{{ ($('Telegram Trigger').item.json.callback_query ? $('Telegram Trigger').item.json.callback_query.message.chat.id : $('Telegram Trigger').item.json.message.chat.id) }}.tex\ncd /tmp\npdflatex -interaction=nonstopmode resume_{{ ($('Telegram Trigger').item.json.callback_query ? $('Telegram Trigger').item.json.callback_query.message.chat.id : $('Telegram Trigger').item.json.message.chat.id) }}.tex > /tmp/compile_retry_{{ ($('Telegram Trigger').item.json.callback_query ? $('Telegram Trigger').item.json.callback_query.message.chat.id : $('Telegram Trigger').item.json.message.chat.id) }}.log 2>&1\npdflatex -interaction=nonstopmode resume_{{ ($('Telegram Trigger').item.json.callback_query ? $('Telegram Trigger').item.json.callback_query.message.chat.id : $('Telegram Trigger').item.json.message.chat.id) }}.tex >> /tmp/compile_retry_{{ ($('Telegram Trigger').item.json.callback_query ? $('Telegram Trigger').item.json.callback_query.message.chat.id : $('Telegram Trigger').item.json.message.chat.id) }}.log 2>&1\nif [ $? -eq 0 ] && [ -f resume_{{ ($('Telegram Trigger').item.json.callback_query ? $('Telegram Trigger').item.json.callback_query.message.chat.id : $('Telegram Trigger').item.json.message.chat.id) }}.pdf ]; then\n  echo \"SUCCESS\"\nelse\n  echo \"RETRY_FAILED\"\n  cat /tmp/compile_retry_{{ ($('Telegram Trigger').item.json.callback_query ? $('Telegram Trigger').item.json.callback_query.message.chat.id : $('Telegram Trigger').item.json.message.chat.id) }}.log\nfi"
      },
      "id": "0598d924-8b65-4a90-bd29-d83dcfaa30da",
      "name": "Write LaTeX File (Retry)",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        28320,
        35040
      ],
      "credentials": {
        "sshPassword": {
          "id": "E3zS3TopCpOFhIu5",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.stdout }}",
              "operation": "contains",
              "value2": "SUCCESS"
            }
          ]
        }
      },
      "id": "b3f8b639-08f9-4eb0-91ab-58a796fce7be",
      "name": "If Retry Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        28544,
        35040
      ]
    },
    {
      "parameters": {
        "chatId": "={{ ($('Telegram Trigger').item.json.callback_query ? $('Telegram Trigger').item.json.callback_query.message.chat.id : $('Telegram Trigger').item.json.message.chat.id) }}",
        "text": "Oops! I ran into a formatting error while compiling your PDF. Try removing any special math characters and try again.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "1b9597a6-2c2e-46a7-86db-25e5f9f8f71a",
      "name": "Send Compile Error Msg",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        28768,
        34992
      ],
      "webhookId": "3f3de8d4-fc5e-477e-8a60-49d00e24298e",
      "credentials": {
        "telegramApi": {
          "id": "C4WFoCaBCTYvtSS5",
          "name": "AI Agent Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const msg = ($('Telegram Trigger').item.json.message && $('Telegram Trigger').item.json.message.text) ? $('Telegram Trigger').item.json.message.text : '';\nconst jdText = msg.replace(/^\\/coverletter\\s*/i, '').trim();\nconst rawTailored = $('Supabase Fetch').item.json.tailored_profile;\nconst rawMaster = $('Supabase Fetch').item.json.master_profile;\nif (jdText) {\n  if (!rawMaster) {\n    return [{ json: { success: false, text: \"\ud83d\udced No profile found. Please upload your resume PDF first before generating a cover letter!\" } }];\n  }\n  const profile = typeof rawMaster === 'string' ? JSON.parse(rawMaster) : rawMaster;\n  return [{ json: { success: true, profile, jd: jdText, mode: 'jd' } }];\n} else {\n  const raw = rawTailored || rawMaster;\n  if (!raw) {\n    return [{ json: { success: false, text: \"\ud83d\udced No profile found. Please upload your resume PDF or run /optimize first before generating a cover letter!\" } }];\n  }\n  const profile = typeof raw === 'string' ? JSON.parse(raw) : raw;\n  const mode = rawTailored ? 'tailored' : 'master';\n  return [{ json: { success: true, profile, jd: null, mode } }];\n}"
      },
      "id": "886e74f4-146f-4695-915a-e9a073afb524",
      "name": "Check Cover Letter Profile",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        26368,
        36448
      ]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.success }}",
              "value2": true
            }
          ]
        }
      },
      "id": "674c966f-543a-4610-8873-c13008cdb70b",
      "name": "If CL Profile Exists",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        26592,
        36448
      ]
    },
    {
      "parameters": {
        "chatId": "={{ ($('Telegram Trigger').item.json.callback_query ? $('Telegram Trigger').item.json.callback_query.message.chat.id : $('Telegram Trigger').item.json.message.chat.id) }}",
        "text": "={{ $json.text }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "4d1f6512-cd53-4403-a2d9-1f41c7805488",
      "name": "Send CL Error Msg",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        26880,
        36544
      ],
      "webhookId": "284197df-db4f-4a91-9cc0-9ab94f67fc05",
      "credentials": {
        "telegramApi": {
          "id": "C4WFoCaBCTYvtSS5",
          "name": "AI Agent Bot"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "Please write a professional, highly-tailored cover letter based on the candidate's profile. Focus on the candidate's fit for the target role.\n\n[CRITICAL: HUMAN WRITING STYLE & TONE RULES]\nTo ensure the cover letter sounds highly natural, professional, and authentic (rather than obviously AI-generated):\n- Write in a grounded, understated, and clear tone. Avoid dramatic, self-aggrandizing, or clich\u00e9 phrasing.\n- ABSOLUTELY AVOID typical AI buzzwords: delve, testament, beacon, synergy, seamless, seamlessly, cutting-edge, revolutionary, leverage, leveraging, transformative, meticulously, expertly, proven track record, elevate, tapestry, foster, multifaceted, catalyst, passionate, dynamically.\n- Vary action verbs. Avoid overusing \"spearheaded\"; use: led, built, managed, designed, developed, scaled, ran, or coordinated.\n- Do not use lazy transitions like \"Moreover,\", \"Furthermore,\", \"Additionally,\", or \"In addition to,\".\n- Avoid generic filler or corporate fluff. Write concrete, factual sentences.\n- Avoid overly eager, excited, or generic introductions. Instead of \"I am thrilled/excited/delighted to apply for...\", start directly with a clear, calm statement of interest and alignment with the role.\n- Avoid double hyphens (\"--\") in plain text. Use normal single hyphens or standard em-dash spacing.\n\nYour response must be a JSON object containing exactly the \"cover_letter\" key with the following structure:\n{\n  \"cover_letter\": {\n    \"subject_role\": \"string - target role name, e.g. UI/UX Designer & AI Tools Specialist\",\n    \"recipient\": \"string - e.g. Hiring Manager\",\n    \"paragraph_1\": \"string - introduction paragraph (3-4 sentences)\",\n    \"paragraph_2\": \"string - second paragraph highlighting key experiences (3-4 sentences)\",\n    \"bullet_points\": [\n      {\n        \"title\": \"string - brief highlight category (e.g., Full-Stack Development)\",\n        \"detail\": \"string - 1-2 sentence detailed accomplishment\"\n      }\n    ],\n    \"paragraph_3\": \"string - concluding paragraph and call to action\"\n  }\n}\n\nDo not include any explanation, markdown formatting, or backticks outside the JSON. Return only the raw JSON.",
        "options": {
          "systemMessage": "={{ \"You are a professional cover letter writer. Write in a natural, understated, human-like voice, avoiding AI clich\u00e9s. Here is the candidate's profile: \" + JSON.stringify($('Check Cover Letter Profile').item.json.profile) + ($('Check Cover Letter Profile').item.json.jd ? \"\\n\\nTarget Job Description:\\n\" + $('Check Cover Letter Profile').item.json.jd : '') }}"
        }
      },
      "id": "a10effb0-3751-439f-9283-fe0be5e0ca04",
      "name": "AI Cover Letter Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.6,
      "position": [
        27168,
        36352
      ]
    },
    {
      "parameters": {
        "model": "qwen3-coder:480b",
        "options": {}
      },
      "id": "6e7b4bbc-cb28-4e2b-b137-73556974f49b",
      "name": "Ollama CL Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1,
      "position": [
        27248,
        36576
      ],
      "credentials": {
        "openAiApi": {
          "id": "ULmeiabvCrdrvhgq",
          "name": "Ollama API"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $('Supabase Fetch').item.json.master_profile;\nconst p = typeof raw === 'string' ? JSON.parse(raw) : raw;\nconst rawOutput = $input.item.json.output || '';\n\nfunction esc(str) {\n  if (!str) return '';\n  return String(str)\n    .replace(/\\\\/g, '\\\\textbackslash{}')\n    .replace(/([&%$#{}])/g, '\\\\$1')\n    .replace(/~/g, '\\\\textasciitilde{}')\n    .replace(/\\^/g, '\\\\textasciicircum{}')\n    .replace(/_/g, '\\\\_');\n}\n\nconst c = p.contact || {};\n\nlet cl = {};\ntry {\n  const cleaned = rawOutput.replace(/\\`\\`\\`json|\\`\\`\\`/gi, '').trim();\n  const parsed = JSON.parse(cleaned);\n  cl = parsed.cover_letter || parsed;\n} catch (e) {\n  console.warn('Failed to parse cover letter JSON output, falling back to plain text parsing:', e);\n  cl = {\n    subject_role: p.tagline || 'Software Developer',\n    recipient: 'Hiring Manager',\n    paragraph_1: rawOutput || 'I am excited to apply for this position.',\n    paragraph_2: '',\n    bullet_points: [],\n    paragraph_3: ''\n  };\n}\n\nlet bulletsTex = '';\nif (cl.bullet_points && Array.isArray(cl.bullet_points)) {\n  cl.bullet_points.forEach(b => {\n    if (b && (b.title || b.detail)) {\n      bulletsTex += `    \\\\item \\\\textbf{${esc(b.title || '')}:} ${esc(b.detail || '')}\\n`;\n    }\n  });\n}\n\nconst tex = `\\\\documentclass[a4paper,11pt]{article}\n\\\\usepackage{latexsym}\n\\\\usepackage{ragged2e}\n\\\\usepackage[empty]{fullpage}\n\\\\usepackage{titlesec}\n\\\\usepackage{geometry}\n\\\\usepackage{verbatim}\n\\\\usepackage{enumitem}\n\\\\usepackage[hidelinks]{hyperref}\n\\\\usepackage{fancyhdr}\n\\\\usepackage{cfr-lm}\n\\\\usepackage[T1]{fontenc}\n\\\\pagestyle{fancy}\n\\\\fancyhf{}\n\\\\fancyfoot{}\n\\\\renewcommand{\\\\headrulewidth}{0pt}\n\\\\renewcommand{\\\\footrulewidth}{0pt}\n\\\\geometry{left=1.4cm, top=0.8cm, right=1.2cm, bottom=1cm}\n\\\\urlstyle{same}\n\\\\raggedright\n\\\\setlength{\\\\tabcolsep}{0in}\n\n\\\\begin{document}\n\\\\fontfamily{cmr}\\\\selectfont\n\n%--- RESUME-MATCHING HEADER ---\n\\\\begin{tabular*}{\\\\textwidth}{l@{\\\\extracolsep{\\\\fill}}r}\n  {\\\\LARGE \\\\textbf{${esc(p.name)}}} & \\\\href{mailto:${esc(c.email)}}{${esc(c.email)}} \\\\\\\\\n  \\\\textit{${esc(p.tagline)}} & ${esc(c.phone)} \\\\\\\\\n  \\\\href{${esc(c.linkedin_url)}}{LinkedIn: ${esc(c.linkedin_display)}} & \\\\href{${esc(c.github_url)}}{GitHub: ${esc(c.github_display)}} \\\\\\\\\n  \\\\href{${esc(c.portfolio_url)}}{Portfolio: ${esc(c.portfolio_display)}} & \\\\\\\\\n\\\\end{tabular*}\n\n\\\\vspace{2.5em}\n\n\\\\hfill \\\\today\n\n\\\\vspace{1.5em}\n\n\\\\textbf{Subject: Application for ${esc(cl.subject_role || 'Software Developer')}}\n\n\\\\vspace{1em}\n\nDear ${esc(cl.recipient || 'Hiring Manager')},\n\n${esc(cl.paragraph_1 || '')}\n\n${cl.paragraph_2 ? '\\\\vspace{0.5em}\\n' + esc(cl.paragraph_2) : ''}\n\n${bulletsTex ? '\\\\vspace{0.5em}\\nKey highlights of my technical experience include:\\n\\n\\\\begin{itemize}[leftmargin=*, itemsep=3pt, topsep=4pt]\\n' + bulletsTex + '\\\\end{itemize}' : ''}\n\n${cl.paragraph_3 ? '\\\\vspace{0.5em}\\n' + esc(cl.paragraph_3) : ''}\n\n\\\\vspace{2em}\nSincerely,\\n\\n\\\\vspace{0.5em}\n${esc(p.name)}\n\n\\\\end{document}`;\n\nreturn [{ json: { success: true, cl_tex_b64: Buffer.from(tex).toString('base64') } }];"
      },
      "id": "1f59fc23-8f2e-4712-b7a5-b42a7092189d",
      "name": "Generate LaTeX Cover Letter",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        27520,
        36352
      ]
    },
    {
      "parameters": {
        "command": "=echo \"{{ $json.cl_tex_b64 }}\" | base64 -d > /tmp/cl_{{ ($('Telegram Trigger').item.json.callback_query ? $('Telegram Trigger').item.json.callback_query.message.chat.id : $('Telegram Trigger').item.json.message.chat.id) }}.tex\ncd /tmp\npdflatex -interaction=nonstopmode cl_{{ ($('Telegram Trigger').item.json.callback_query ? $('Telegram Trigger').item.json.callback_query.message.chat.id : $('Telegram Trigger').item.json.message.chat.id) }}.tex > /tmp/cl_compile_{{ ($('Telegram Trigger').item.json.callback_query ? $('Telegram Trigger').item.json.callback_query.message.chat.id : $('Telegram Trigger').item.json.message.chat.id) }}.log 2>&1\nif [ $? -eq 0 ] && [ -f cl_{{ ($('Telegram Trigger').item.json.callback_query ? $('Telegram Trigger').item.json.callback_query.message.chat.id : $('Telegram Trigger').item.json.message.chat.id) }}.pdf ]; then\n  echo -n \"SUCCESS:\"\n  base64 -w 0 cl_{{ ($('Telegram Trigger').item.json.callback_query ? $('Telegram Trigger').item.json.callback_query.message.chat.id : $('Telegram Trigger').item.json.message.chat.id) }}.pdf\n  rm -f cl_{{ ($('Telegram Trigger').item.json.callback_query ? $('Telegram Trigger').item.json.callback_query.message.chat.id : $('Telegram Trigger').item.json.message.chat.id) }}.*\nelse\n  echo \"COMPILE_ERROR\"\n  cat /tmp/cl_compile_{{ ($('Telegram Trigger').item.json.callback_query ? $('Telegram Trigger').item.json.callback_query.message.chat.id : $('Telegram Trigger').item.json.message.chat.id) }}.log\n  rm -f cl_{{ ($('Telegram Trigger').item.json.callback_query ? $('Telegram Trigger').item.json.callback_query.message.chat.id : $('Telegram Trigger').item.json.message.chat.id) }}.*\nfi"
      },
      "id": "6fed3c7f-4d6a-42c9-bbcb-ed934876a3e5",
      "name": "Compile Cover Letter",
      "type": "n8n-nodes-base.ssh",
      "typeVersion": 1,
      "position": [
        27808,
        36352
      ],
      "credentials": {
        "sshPassword": {
          "id": "E3zS3TopCpOFhIu5",
          "name": "SSH Password account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.stdout }}",
              "operation": "contains",
              "value2": "SUCCESS:"
            }
          ]
        }
      },
      "id": "0be3e275-9ed4-4a28-bd6d-a01b9c89939b",
      "name": "If CL Compile Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        28096,
        36352
      ]
    },
    {
      "parameters": {
        "chatId": "={{ ($('Telegram Trigger').item.json.callback_query ? $('Telegram Trigger').item.json.callback_query.message.chat.id : $('Telegram Trigger').item.json.message.chat.id) }}",
        "text": "Oops! I ran into an error while compiling your Cover Letter PDF. Try checking your profile details for formatting issues.",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "d39e584b-f37f-42c1-826e-c70cb2f376c9",
      "name": "Send CL Compile Error",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        28320,
        36448
      ],
      "webhookId": "681762b9-0696-4eae-8b5c-98d4743d50ce",
      "credentials": {
        "telegramApi": {
          "id": "C4WFoCaBCTYvtSS5",
          "name": "AI Agent Bot"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const stdout = $input.item.json.stdout || '';\nconst match = stdout.match(/SUCCESS:\\s*([A-Za-z0-9+/=\\s\\r\\n]+)/);\nconst b64 = match ? match[1].replace(/[\\s\\r\\n]/g, '') : '';\nconst chatId = ($('Telegram Trigger').item.json.callback_query ? $('Telegram Trigger').item.json.callback_query.message.chat.id : $('Telegram Trigger').item.json.message.chat.id);\nreturn [{\n  json: { success: !!b64 },\n  binary: {\n    pdf_doc: {\n      data: b64,\n      mimeType: 'application/pdf',\n      fileName: `cover_letter_${chatId}.pdf`\n    }\n  }\n}];"
      },
      "id": "583bd23d-9942-4d50-9403-0083dc12e1e7",
      "name": "Decode CL PDF Binary",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        28320,
        36160
      ]
    },
    {
      "parameters": {
        "operation": "sendDocument",
        "chatId": "={{ ($('Telegram Trigger').item.json.callback_query ? $('Telegram Trigger').item.json.callback_query.message.chat.id : $('Telegram Trigger').item.json.message.chat.id) }}",
        "binaryData": true,
        "binaryPropertyName": "pdf_doc",
        "additionalFields": {
          "caption": "Here is your tailored cover letter!"
        }
      },
      "id": "175c37c6-b38d-4979-a3be-77215abfeaec",
      "name": "Send CL PDF (Telegram)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        28544,
        36160
      ],
      "webhookId": "d53fcf7a-fa23-465d-a986-390f05874262",
      "credentials": {
        "telegramApi": {
          "id": "C4WFoCaBCTYvtSS5",
          "name": "AI Agent Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ ($('Telegram Trigger').item.json.callback_query ? $('Telegram Trigger').item.json.callback_query.message.chat.id : $('Telegram Trigger').item.json.message.chat.id) }}",
        "text": "\u23f3 Compiling your resume PDF. Please wait a moment...",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "b06c51cf-b35d-4fb0-958e-11907deebe63",
      "name": "Send Resume Compile Wait Msg",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        26368,
        35168
      ],
      "webhookId": "49d82bbe-e7b2-4dad-87fc-d9799487f88a",
      "credentials": {
        "telegramApi": {
          "id": "C4WFoCaBCTYvtSS5",
          "name": "AI Agent Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ ($('Telegram Trigger').item.json.callback_query ? $('Telegram Trigger').item.json.callback_query.message.chat.id : $('Telegram Trigger').item.json.message.chat.id) }}",
        "text": "\ud83d\udd04 I'm analyzing the job description and tailoring your profile. Hang tight, this will take a few seconds...",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "cb94ddba-c16e-4bcc-9ffe-a0e692f7298a",
      "name": "Send Optimize Wait Msg",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        26368,
        36016
      ],
      "webhookId": "be604e86-7f9a-483f-a54f-c68048a5336c",
      "credentials": {
        "telegramApi": {
          "id": "C4WFoCaBCTYvtSS5",
          "name": "AI Agent Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ ($('Telegram Trigger').item.json.callback_query ? $('Telegram Trigger').item.json.callback_query.message.chat.id : $('Telegram Trigger').item.json.message.chat.id) }}",
        "text": "\u270d\ufe0f Drafting and compiling your tailored cover letter PDF. Hang on...",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "718afb94-089b-44f0-830c-9307b3c016ff",
      "name": "Send CL Wait Msg",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        26880,
        36352
      ],
      "webhookId": "594eca53-6f4d-4c00-9966-363b51ca8642",
      "credentials": {
        "telegramApi": {
          "id": "C4WFoCaBCTYvtSS5",
          "name": "AI Agent Bot"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $('Parse JSON').item.json.profile_status.isSufficient }}",
              "value2": true
            }
          ]
        }
      },
      "id": "0260b0f2-243c-4835-926b-a7a2fd44dd12",
      "name": "Chat Profile Sufficient?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        28544,
        35632
      ]
    },
    {
      "parameters": {
        "chatId": "={{ ($('Telegram Trigger').item.json.callback_query ? $('Telegram Trigger').item.json.callback_query.message.chat.id : $('Telegram Trigger').item.json.message.chat.id) }}",
        "text": "={{ $('Parse JSON').item.json.chat_reply }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "21a1ae6d-5d77-4976-ac58-67d1beb61ef8",
      "name": "Telegram Chat Reply (No Buttons)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        28768,
        35728
      ],
      "webhookId": "4c259a21-b8ae-4725-bfd8-fad039f14906",
      "credentials": {
        "telegramApi": {
          "id": "C4WFoCaBCTYvtSS5",
          "name": "AI Agent Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ ($('Telegram Trigger').item.json.callback_query ? $('Telegram Trigger').item.json.callback_query.message.chat.id : $('Telegram Trigger').item.json.message.chat.id) }}",
        "text": "={{ (() => { const prompt = $('Assess Master Profile').item.json.profile_status.prompt; return prompt ? '\ud83d\udc4b Hi! ' + prompt : '\ud83d\udc4b Hi! I\\'m ready to help. Type /start to see what I can do.'; })() }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "0ed51b7c-1565-4182-b590-7b0138fb684f",
      "name": "Greeting Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        26368,
        34592
      ],
      "webhookId": "4c259a21-b8ae-4725-bfd8-fad039f14906",
      "credentials": {
        "telegramApi": {
          "id": "C4WFoCaBCTYvtSS5",
          "name": "AI Agent Bot"
        }
      }
    },
    {
      "parameters": {
        "chatId": "={{ ($('Telegram Trigger').item.json.callback_query ? $('Telegram Trigger').item.json.callback_query.message.chat.id : $('Telegram Trigger').item.json.message.chat.id) }}",
        "text": "={{ $('Assess Master Profile').item.json.profile_status.prompt || '\ud83d\udced Please upload your resume PDF or tell me about yourself to build your profile.' }}",
        "additionalFields": {
          "appendAttribution": false
        }
      },
      "id": "dd48f87b-0a1f-445a-9a6a-265d74c6a16d",
      "name": "Profile Incomplete Reply",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [
        26368,
        34784
      ],
      "webhookId": "4c259a21-b8ae-4725-bfd8-fad039f14906",
      "credentials": {
        "telegramApi": {
          "id": "C4WFoCaBCTYvtSS5",
          "name": "AI Agent Bot"
        }
      }
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Supabase Fetch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Fetch": {
      "main": [
        [
          {
            "node": "Assess Master Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Assess Master Profile": {
      "main": [
        [
          {
            "node": "Command Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Command Router": {
      "main": [
        [
          {
            "node": "Telegram Info Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Greeting Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Profile Incomplete Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Profile View",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Resume Compile Wait Msg",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Resume Compile Wait Msg",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reattach Binary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Optimize Wait Msg",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format JD View",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Check Cover Letter Profile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Profile View": {
      "main": [
        [
          {
            "node": "Telegram View Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate LaTeX": {
      "main": [
        [
          {
            "node": "Write LaTeX File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write LaTeX File": {
      "main": [
        [
          {
            "node": "If Compile Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decode PDF Binary": {
      "main": [
        [
          {
            "node": "Send PDF (Telegram)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Reattach Binary": {
      "main": [
        [
          {
            "node": "Extract PDF Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract PDF Text": {
      "main": [
        [
          {
            "node": "Format PDF Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format PDF Prompt": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Chat Prompt": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Parse JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Parse JSON": {
      "main": [
        [
          {
            "node": "Profile Updated?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Profile Updated?": {
      "main": [
        [
          {
            "node": "Row Exists?",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Chat Profile Sufficient?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Row Exists?": {
      "main": [
        [
          {
            "node": "Supabase Update",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Supabase Create",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Update": {
      "main": [
        [
          {
            "node": "Chat Profile Sufficient?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Create": {
      "main": [
        [
          {
            "node": "Chat Profile Sufficient?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read PDF Base64": {
      "main": [
        [
          {
            "node": "Decode PDF Binary",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Format JD Prompt": {
      "main": [
        [
          {
            "node": "AI JD Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI JD Agent": {
      "main": [
        [
          {
            "node": "Parse JD JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama JD": {
      "ai_languageModel": [
        [
          {
            "node": "AI JD Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parse JD JSON": {
      "main": [
        [
          {
            "node": "Supabase Save Tailored",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Save Tailored": {
      "main": [
        [
          {
            "node": "Telegram Optimize Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format JD View": {
      "main": [
        [
          {
            "node": "Telegram JD View Reply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send a text message": {
      "main": [
        [
          {
            "node": "Format Chat Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Compile Success": {
      "main": [
        [
          {
            "node": "Read PDF Base64",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Fix LaTeX Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Fix LaTeX Prompt": {
      "main": [
        [
          {
            "node": "AI Fix LaTeX Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Fix LaTeX Agent": {
      "main": [
        [
          {
            "node": "Base64 Encode Fixed LaTeX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Fix LaTeX Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Fix LaTeX Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Base64 Encode Fixed LaTeX": {
      "main": [
        [
          {
            "node": "Write LaTeX File (Retry)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write LaTeX File (Retry)": {
      "main": [
        [
          {
            "node": "If Retry Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Retry Success": {
      "main": [
        [
          {
            "node": "Read PDF Base64",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send Compile Error Msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Cover Letter Profile": {
      "main": [
        [
          {
            "node": "If CL Profile Exists",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If CL Profile Exists": {
      "main": [
        [
          {
            "node": "Send CL Wait Msg",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send CL Error Msg",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Cover Letter Agent": {
      "main": [
        [
          {
            "node": "Generate LaTeX Cover Letter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama CL Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Cover Letter Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Generate LaTeX Cover Letter": {
      "main": [
        [
          {
            "node": "Compile Cover Letter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compile Cover Letter": {
      "main": [
        [
          {
            "node": "If CL Compile Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If CL Compile Success": {
      "main": [
        [
          {
            "node": "Decode CL PDF Binary",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Send CL Compile Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Decode CL PDF Binary": {
      "main": [
        [
          {
            "node": "Send CL PDF (Telegram)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Resume Compile Wait Msg": {
      "main": [
        [
          {
            "node": "Generate LaTeX",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Optimize Wait Msg": {
      "main": [
        [
          {
            "node": "Format JD Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send CL Wait Msg": {
      "main": [
        [
          {
            "node": "AI Cover Letter Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Chat Profile Sufficient?": {
      "main": [
        [
          {
            "node": "Telegram Chat Reply",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram Chat Reply (No Buttons)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "19921415bac6b77b91e822c3e97165800ced3a4d6f63d204500fd50a2d359050"
  }
}